* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    background-color: #1a1f23;
    margin: 40px auto;
    padding: 20px;
    color: white;
    max-width: 300px;
}

.header {
    margin-bottom: 30px;
    text-align: center;
}

.signup {
    color: white;
    text-decoration: none;

}

.login-btn {
    background-color: lightgreen;
    color: white;
    padding: 10px 50px;
    margin-left: 30px;
    text-decoration: none;
}


h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background-color: transparent;
    border: 1px solid #2f363c;
    border-radius: 4px;
    color: white;
}

.forgot-password {
    display: block;
    text-align: right;
    color: lightgreen;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
}

.login-submit {
    width: 100%;
    padding: 12px;
    background-color: lightgreen;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.firstlast {
    display: inline-block;
    width: 49%;
    margin-bottom: 5px;

}
